.header-container {
  display: flex;
  justify-content: space-between; /* 양 끝 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding: 1rem;
  position: fixed; /* 헤더 고정 */
  top: 0; /* 화면 상단에 고정 */
  left: 0;
  right: 0;
  z-index: 1000; /* 다른 요소보다 위에 표시되도록 */
  background-color: #e5e7eb;
}

/* 검색바 영역 */
.search-container {
  flex: 2;
  display: flex;
  align-items: center;
  position: relative;
}

.search-bar {
  margin-left: 0.5rem;
  width: 90%;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 140px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
}

/* 아이콘들 (로그인, 찜, 장바구니) */
.icon-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.icon-container button {
  background: none;
  border: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* 카테고리 영역 */
.category-container {
  margin: 4rem -1rem; /* 헤더 크기 만큼 아래로 여백을 추가 */
  padding: 1rem;
  background-color: #e5e7eb;
}

/* 카테고리 리스트 (베스트, 세일만 표시) */
.category-list {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent; /* 배경색 투명으로 설정 */
  border: none; /* 테두리 제거 */
  color: black; /* 텍스트 색상 */
  margin-right: 1rem; /* 카테고리 간의 간격 */
  transition: color 0.3s ease;
}

.category-list li:hover {
  color: black; /* hover 시 텍스트 색 변경 */
}

/* 서브 카테고리 버튼 (가로로 나열되도록) */
.subcategory-list {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  list-style-type: none;
  margin: 1rem 0 0; /* 상단 여백 */
  padding: 0;
}

.subcategory-list li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 14px;
  background-color: #f3f4f6;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 0.5rem;
}

.subcategory-list li:hover {
  transform: translateY(-2px); /* hover 시 살짝 올라오는 효과 */
}

/**/

/* Container for the form */
.join-container {
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 40px 60px 40px;
}

/* Form container */
form {
  background-color: #fff;
  border-radius: 8px;
  padding: 50px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Form inputs */
.input-field {
  width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: font-size 0.3s ease; /* 크기 변경 애니메이션 추가 */
}

.input-field:focus {
  border-color: #65a5e4;
  outline: none;
}

/* placeholder 스타일 */
.input-field::placeholder {
  font-size: 16px; /* 기본 placeholder 크기 */
  transition: font-size 0.3s ease; /* 크기 변경 애니메이션 추가 */
}

/* focus 상태에서 placeholder 크기 변경 */
.input-field:focus::placeholder {
  font-size: 12px; /* focus 시 placeholder 크기 작아짐 */
}

/* Error message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Button */
.submit-btn {
  margin-top: 10px;
  width: 400px;
  padding: 12px;
  background-color: #5977d3;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* 전체 로그인 페이지 컨테이너 */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6; /* 배경색 */
}

/* 폼 스타일 */
.login-form {
  background-color: #fff;
  padding: 60px 40px 60px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.submit-btn:hover {
  background-color: #4a66c6;
}

/* 회원가입 링크 스타일 */
.signup-link {
  margin-top: 15px;
  text-align: left; /* 왼쪽 정렬 */
}

.signup-link a {
  color: #818181;
  text-decoration: none;
  font-size: 14px;
}

.signup-link a:hover {
  text-decoration: underline;
}

/*검색 키워드 자동 완성*/
.suggestions-list {
  display: none; /* 기본적으로 숨김 */
  position: absolute; /* 검색창 바로 아래에 위치하도록 설정 */
  top: 2.5rem; /* 검색창 아래 위치 */
  left: 1.5rem;
  width: 75%; /*95*/
  overflow-y: auto; /* 스크롤 활성화 */
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*#fff*/
  border-radius: 20px;
  z-index: 1000; /* 검색창보다 위에 표시되도록 */
  padding: 5px; /*10*/
}

/* 자동완성 목록 보이게 하기 */
.suggestions-list.show {
  display: block;
  opacity: 1;
}

/* 자동완성 항목 */
.suggestion-item {
  padding: 10px 10px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.icon-container button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 10px;
}
